.App{
  text-align: center;
  background: #fbfbfb;
}
.App-logo{
  height: 40vmin;
  pointer-events: none;
}
.link-color{
  color: white;
}
.form-label{
  float: left;
}

.form-control{
  border-radius: 25px;
  background: whitesmoke;
}
.form{
  width: 500px;
  position: relative;
  left: 30%;
}
.card-img-top{
  height: 200px;
  margin-top: -20px;
}
.action-button{
  background:blue!important; 
  border-radius:25px!important
}
.action-button:hover{
  cursor: pointer!important;
}
.label-default{
  color: black;
  font-weight: bold;
  font-size: 13px;
  margin: 0px;
}
.label-text{
  color:#0645AD;
  font-size: 14px;
  margin: 0px;
}
.card-body{
  padding-bottom: 0px!important;
}
.card-title{
  font-size: 14px!important;
}
.card-default{
  width: 17rem;
  float:left;
  display:inline-block;
  margin:5px;  
  padding:10px
}

.logo-image-top{
  position: relative;
  top: -27px;
  float: left;
  left: -20px;
  width: 50px;
  height: 50px;
}
.card-default-content{
  width: 11rem;
left: 0;
/* margin: 12px; */
margin-left: 35px;
margin-top: -28px;
border: 0;
}

.header-text{
    width: 140px;
    font-weight: bold;
    position: relative;
    top: -27px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.header-title{
    display: inline-flex;
    position: relative;
    top: -50px;
    left: 30px;
    font-size: 14px;
}


@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1440px!important;
  }
}
@media  (max-width: 700px){
  /* For mobile phones: */
  [class*="col-md-2"] {
    width: 35%;
  }
  .card-default{
    max-height:none;
    width: 28rem;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.loader-position{
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}
.filter-button{
  line-height: 0.5!important;
  margin: 10px!important;
  color: black!important;
  border: 0!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
